.btn, .btn-outline,
input[type=submit].btn,
input[type=submit].btn-outline {
    display: inline-flex;
    min-width: remy(237);
    height: remy(68);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: remy(40);
    background-color: var(--primary);

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1rem;
    line-height: remy(68);
    // letter-spacing: remy(0.75);
    text-align: center;
    color: #f7f7fc;

    white-space: nowrap;

    transition: all 0.2s linear;

    @include mobile {
        height: remy(56);
        line-height: remy(56);
    }
}

.btn:hover {
    background-color: var(--primary-hover);
    // background-color: darken($premium-pink, 10%);
    // color: lighten($color: #000000, $amount: 0);
}

.btn:focus {
    background-color: var(--primary);
    outline: 8px solid $pink-subtle;
}

.btn-outline,
input[type=submit].btn-outline {
    min-width: remy(200);
    color: var(--primary);
    background-color: $page-bg;
    border: remy(2) solid var(--primary);

    @include mobile {
        height: remy(60);
        line-height: remy(56);
    }

    &--small {
        height: remy(50);
        width: remy(166);
        min-width: unset;
        font-weight: 400;
    }
}

.btn-outline:hover {
    // color: darken($premium-pink, 10%);
    // border-color: darken($premium-pink, 10%);
    color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.btn-outline:focus {
    color: $premium-pink;
    border: remy(2) solid $premium-pink;
    outline: remy(8) solid $pink-subtle;
}

.btn-outline.btn-outline--small:focus {
    outline: remy(4) solid $pink-subtle;
}

.search-open {
    height: remy(50);
    display: flex;
    align-items: center;
    gap: remy(6);

    color: white;

    transition: opacity 0.2s ease-in;
    
    &:hover {
        opacity: 0.8;
    }
}