/* Контейнеры проекта */
.header-container {
	margin: 0 auto;
	padding-inline: remy(15);
	
	width: 100%;
	max-width: remy(1390);
	
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.1;
	text-align: center;
	// color: #fff;

	@include tablet {
		justify-content: space-between;
	}

	@include mobileM {
		padding-inline: remy(8);
	}
}

.premium-container {
	margin: 0 auto;
	padding-inline: remy(155) remy(79);
	
	width: 100%;
	max-width: remy(calc(1206 + 155 + 79));

	@include tablet {
		justify-content: space-between;
	}

	@include mobileM {
		padding-inline: remy(8);
	}
}

/* Контейнеры */
.container {
	margin: 0 auto;
	padding-inline: var(--container-padding);

	max-width: var(--container-width);
	width: 100%;

	@include desktop {
		padding-inline: 50px;
	}

	@include tablet {
		padding-inline: 30px;
	}

	@include mobile {
		padding-inline: 16px;
	}
}

.container-full {
	padding: 0 var(--container-padding);
	max-width: 100%;


	@include desktop {
		padding: 0 50px;
	}

	@include laptop {
		padding: 0 30px;
	}

	@include mobile {
		padding: 0 15px;
	}
}

.container-left-50 {
	padding: 0 var(--container-padding);
	max-width: 50%;

	@include mobile {
		max-width: 100%;
	}
}

.container-right-50 {
	padding: 0 var(--container-padding);
	max-width: 50%;
	margin-left: auto;

	@include mobile {
		max-width: 100%;
	}
}

.container-right {
	padding-left: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);

	@include desktop {
		padding: 0 50px;
	}

	@include tablet {
		padding: 0 30px;
	}

	@include mobile {
		padding: 0 15px;
	}
}

.container-left {
	padding-right: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);

	@include tablet {
		padding-right: var(--container-padding);
	}
}

.container-half-left {
	padding-right: calc(
		(100% - var(--container-width)) / 2 + (var(--container-width) / 2)
	);
	padding-left: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);

	@include tablet {
		padding-left: var(--container-padding);
	}

	@include mobile {
		padding: 0 var(--container-padding);
	}
}

.container-half-right {
	padding-left: calc(
		(100% - var(--container-width)) / 2 + (var(--container-width) / 2)
	);
	padding-right: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);

	@include tablet {
		padding-right: var(--container-padding);
	}

	@include mobile {
		padding: 0 var(--container-padding);
	}
}
