.header-form {
    width: 100%;
    column-gap: remy(70);

    .form-item  {
        // flex-grow: 1;
        position: relative;
        padding-inline: remy(33);

        border: 1px solid $sec3;
        border-radius: 7px;

        @include mobileM {
            padding-inline: remy(23);
        }
    
        .form-input {
            display: block;
            width: 100%;
            height: remy(50);

            padding-inline: remy(10);
            
            // border: 1px solid $sec3;
            border-radius: remy(5);

            color: var(--gray-copy);
            font-size: 1rem;
        }

        .form-input::placeholder {
            font-size: 1rem;
            color: $sec3;

        }

        .search-btn,
        .reset-btn {
            width: remy(30);
            height: remy(30);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            & > * {vertical-align: middle;}
        }

        .search-btn {
            left: 4px;
        }

        .reset-btn {
            right: 4px;
        }
    }

}
