.title-1, .title-2,.title-4,
.h1, .h2, .h4 {
	font-family: var(--font-family);
	font-weight: 700;
	// font-size: 70px;
    font-size: remy(70);
	line-height: 110%;
	color: inherit;
}

.title-2, .h2 {
	// font-size: 60px;
    font-size: remy(60);
}

.title-3,.title-5,
.h3, .h5 {
	font-family: var(--font-family);
	font-weight: 600;
	// font-size: 48px;
    font-size: remy(48);
	line-height: 119%;
	color: var(--grey-copy);

	@include tablet {font-size: 40px;}
	@include mobile {font-size: 32px;}
	@include mobileM {font-size: 26px;}
}

.title-4, .h4 {
	// margin: 1em 0 0.5em;
	// font-size: 40px;
    font-size: remy(40);
	line-height: 1.2;
}

.title-5, .h5 {
	margin: 1em 0 0.5em;
	// font-size: 38px;
    font-size: remy(38);
}

.subtitle {
	font-family: var(--font3);
	font-weight: 600;
	font-size: 17px;
	text-align: center;
}

.text {
	font-family: var(--font-family);
	font-weight: 400;
    font-size: remy(16);
	line-height: 231%;
	color: var(--grey-copy);

	p + p  {
		margin-top: 1em;
	}

	@include mobile {
		line-height: 209%;
	}
}

.link {
	font-family: var(--font-family);
	font-weight: 600;
	// font-size: 16px;
    font-size: remy(16);
	line-height: 231%;
	color: var(--grey-copy);
}

.text-accent {
	color: var(--primary);
}

@include tablet {
	.h1 {
		font-size: remy(56);
		line-height: 1.12;
	}
	.h2 {font-size: remy(50);}
}

@include mobile {
	.h1 {font-size: remy(32);}
	.h2 {font-size: remy(42);}
	.h4 {line-height: 1.2;}
}