.title-1, .title-2,.title-4,
.h1, .h2, .h4 {
	font-family: var(--font-family);
	font-weight: 700;
	// font-size: 70px;
    font-size: remy(70);
	line-height: 110%;
	color: #000;
}

.title-2, .h2 {
	// font-size: 60px;
    font-size: remy(60);
}

.title-3,.title-5,
.h3 .h5 {
	font-family: var(--font-family);
	font-weight: 600;
	// font-size: 48px;
    font-size: remy(48);
	line-height: 110%;
	color: #000;
}

.title-4, .h4 {
	margin: 1em 0 0.5em;
	// font-size: 40px;
    font-size: remy(40);
}

.title-5, .h5 {
	margin: 1em 0 0.5em;
	// font-size: 38px;
    font-size: remy(38);
}

.subtitle,
.text {
	font-family: var(--font-family);
	font-weight: 400;
	// font-size: 18px;
    font-size: remy(18);
	line-height: 206%;
	color: var(--grey-copy);
}

.text {
	// font-size: 16px;
    font-size: remy(16);
	line-height: 231%;

	p + p  {
		margin-top: 1em;
	}

	@include mobile {
		font-size: 14px;
	}
}

.link {
	font-family: var(--font-family);
	font-weight: 600;
	// font-size: 16px;
    font-size: remy(16);
	line-height: 231%;
	color: var(--grey-copy);
}