:root {
	--container-width : 1280px;
	--container-padding: 60px;

	--font-main: 'CircularStd', sans-serif;
	--font-accent: 'Inter', sans-serif;
	--font-titles: var(--font-main);

	--page-bg: #fff;
	--text-color: #181818;
	--text-white:  #fff;
	--text-muted: #909090;

	--primary: var(--premium-pink);
	--primary-hover: var(--pink-hover);
	--muted: var(--pink-muted);
	--accent: #ffdae7;
	--subtle: var(--pink-subtle);
	--black: #252525;
	--link-color: #2578c8;

	--sec2: #858585;
	--sec3: #D2D2D2;

	/* Project vars */
	--premium-pink: #e43071;
	--pink-hover: #be285e;
	--grey-copy: #424242;
	--pink-subtle: #ffdae7;
	--pink-muted: #ffc1d8;
	--dark-disabled: #d37899d3;
	--light-grey: #f2f3f8;
	--decor-color: #f8c5d7;
	--white: #fff;

	--footer-bg: #0b0d17;
	--footer-text: #d9dbe1;

	--font-family: "Poppins", sans-serif;
	--second-family: "Manrope", sans-serif;
	--third-family: "Times New Roman", sans-serif;
	--font3: "Open Sans", sans-serif;
}

	$page-bg: #fff;
	$premium-pink: #e43071;
	$pink-hover: #be285e;
	$grey-copy: #424242;
	$pink-subtle: #ffdae7;
	$pink-muted: #ffc1d8;
	$dark-disabled: #d37899;
	$light-grey: #f2f3f8;

	$sec3: #D2D2D2;

.green {
	--primary: #26d68a;
	--primary-hover: #1da067;
	--accent: #9be8c7;
	--muted: #9be8c7;
	--subtle: var(--accent);
	--link-color: #2578c8;
	--decor-color: #86e4bc;
	--dark-disabled: #1eb574c7;
    // --page-bg: #252526;
    // --text-color: #fff;
}