.back-top {
	position: fixed;
	bottom: 10%;
    right: 3%;

 	width: 48px;
	height: 48px;
	border-radius: 50%;
	
	z-index: 17;

    opacity: 0;
    transition: opacity 0.5s ease-in;

    background: rgba(217, 215, 215, 0.685);
    border: 0.862px solid rgba(141, 95, 95, 0.86);
    // border: 0.862px solid rgba(255, 255, 255, 0.85);
    // background: rgba(141, 95, 95, 0.15);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    cursor: pointer;

    &--on {opacity: 1;}
}