.footer {
	background-color: var(--footer-bg);
	padding-block: 96px 24px;

	font-family: var(--second-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 171%;
	color: var(--footer-text);

	@include mobile {
		padding-top: 40px;
	}

	a:not(.footer__social-item) {
		color: var(--footer-text);
		transition: opacity 0.2s ease-in;

		&:hover {opacity: 0.75;}
	}

	&-row {
		display: flex;
		justify-content: space-between;
		column-gap: 30px;
		margin-bottom: 105px;

		@include mobileL {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: auto auto;
			gap: 30px;
			justify-content: center;
		}
		@include mobileM {
			display: flex;
			flex-direction: column;
			row-gap: 43px;
			margin-bottom: 19px;
		}
	}

	&__promo {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 24px;

		max-width: 255px;
	}
	&__social {
		display: flex;
		gap: 16px;
		align-items: center;
		justify-content: center;

		&-item {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;

			width: 24px;
			aspect-ratio: 1;

			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.1);

			transition: all 0.3s ease-in;

			&:hover {
				// background-color: var(--white);
				background-color: var(--primary);

				.icon-footer {
					// fill: var(--footer-bg);
					transform: scale(1.2);
				}
			}
		}
	}
}

.footer__logo {
		font-family: var(--font-family);
		font-weight: 800;
		font-size: 25px;
		line-height: 110%;
		text-align: center;
		color: var(--white);

	span {color: var(--primary);}
}

.footer__menu {
	width: 245px;

	&-list {
		li + li {margin-top: 12px;}
		// display: flex;
		// flex-direction: column;
		// gap: 12px;
	}
}

.footer__contacts {
	width: 245px;

	&-list {
		li + li {margin-top: 24px;}
	}
	&-link {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 8px;

		white-space: nowrap;
	}

	@include mobileL {
		grid-area: 1 / 2;
	}
}

.footer__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;

	@include mobile {
		 flex-direction: column-reverse;
		 justify-content: center;
	}
}

.footer__terms-nav {
	display: flex;
	align-items: center;
	gap: 6px;

	@include mobileM {
		flex-wrap: wrap;
		justify-content: center;
		.divider--mid {display: none;}
	}
}

.nav-item {
	display: flex;
	gap: 6px;
	align-items: center;
	
}

.divider {
	width: 2px;
	height: 1rem;
	background-color: var(--footer-text);
}