.header-search-wrapper {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    height: 100px;

    z-index: -20;
    opacity: 0;

    padding-block: remy(24);
    padding-inline: remy(41) remy(36);

    background-color: var(--page-bg);
    -webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);

    box-shadow: 0 6px 8px rgba(0, 0, 0, .15);

    transition: all 0.3s ease-in;
    
    &.search-form--open {
        padding-block: unset;
        top: 82px;

        display: flex;
        align-items: center;

        z-index: 9;
        opacity: 1;

        @include tablet {
            padding-block: remy(16);
            padding-inline: remy(9) ;
            // top: 90px;
            height: unset;
        }
    }
}