.header-menu {
	margin: 0 remy(73) 0 auto;
	gap: remy(70);

	@include desktop {
		margin: 0 remy(30) 0 auto;
		justify-content: space-between;
		flex-grow: 1;
		gap: remy(20);
	}

	@include laptop {
		margin-right: 1.5rem;
	}

	@include tablet {
		// display: none;
		position: fixed;
		top: 97px;
		right: -100%;
		// top: -100%;
		max-width: remy(320);
		width: 100%;
		height: 100vh;
		z-index: 99;

		padding-top: 2px;
    	padding-bottom: 40px;

		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: 30px;

		opacity: 0;

		transition: all 0.2s ease-in;
	}
}

.header-menu__mobile--open {
	@include tablet {
		margin-right: 0;
		right: 0;
		gap: unset;
		
		opacity: 1;
	}
}

.header-menu__link {
	padding: remy(3);

	font-family: var(--font-family);
	font-size: 1rem;
	line-height: 1.1;
	text-align: center;
	color: var(--text-white);

	white-space: nowrap;

    transition: all 0.3s ease-in;
    
    &:hover {
        opacity: 0.8;

		@include tablet {
			background-color: $sec3;
		}
    }

	@include tablet {
		color: var(--text-white);
		background-color: var(--primary);
		font-size: 1.5rem;
		line-height: 6rem;
		width: 100%;
	}
}