.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	// width: 62px;
	// height: 62px;
}

.icon--search {
	// fill: var(--page-bg);
	// stroke: var(--page-bg);
	width: remy(20);
	height: remy(20);

	&:hover {
		cursor: pointer;
	}
}

.search-black,
.close-black {
	// fill: var(--gray-copy);
	// stroke: var(--page-bg);
	width: remy(30);
	height: remy(30);

	&:hover {
		cursor: pointer;
	}

	@include mobileM {
		width: remy(20);
		height: remy(20);
	}
}

.close-black {
	fill: var(--gray-copy);
}

#search {
	& rect {
		fill: var(--page-bg);
	}

	& circle {
		stroke: var(--page-bg);
	}

}

.icon--header-border {
	// display: block;
	fill: var(--page-bg);
	width: 100%;
	height: 100%;

	// @debug "VW - " width;
	// @debug "calc(100vw / 1440: " (calc(100vw / 1440));

	// @if 100vh > 1440 {
	// 	@warn "Inside";
	// 	transform: scale(calc(100vh / 1440));
	// }

	&-2550 {display: block;}
	&-1440 {display: none;}
	&-770 {display: none;}
	&-320 {display: none;}

	// &-mob {
	// 	display: none;
	// 	fill: var(--page-bg);
	// 	width: 700px;
	// 	height: 100%;

	// }

	@include desktop {
		&-2550 {display: none;}
		&-1440 {display: block;}
		&-770 {display: none;}
		&-320 {display: none;}
	}

	@include mobileL {
		&-2550 {display: none;}
		&-1440 {display: none;}
		&-770 {display: block;}
		&-320 {display: none;}
	}

	// @include mobileM {
	// 	&-2550 {display: none;}
	// 	&-1440 {display: none;}
	// 	&-770 {display: none;}
	// 	&-320 {display: block;}
	// }
}

.icon-social {
	fill: #E43071;
	transition: all 0.3s ease-in;
}

.icon--facebook {
	width: 15px;
	height: 30px;
	fill: #E43071;
	stroke: #E43071;
}
.icon--youtube {
	width: 24px;
	height: 29px;
	// fill: #E43071;
	// stroke: #E43071;
}
.icon--instagram {
	width: 30px;
	height: 30px;
	fill: #E43071;
	stroke: #E43071;
}

@include mobileM {
	.icon--facebook {
		width: 11px;
		height: 21px;
	}
	.icon--youtube {
		width: 16px;
		height: 20px;
	}
	.icon--instagram {
		width: 20px;
		height: 20px;
	}
}
