.premium {
    padding: remy(224) remy(155) remy(108) remy(79);

    @include mobile {
        padding-block: remy(35) remy(23);
    }
}

.premium-content {
    display: flex;
    justify-content: space-between;
    gap: 16px 30px;

    @include mobile {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.premium__desc {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-top: 102px;
    // justify-content: center;
    max-width: remy(489);

    @include tablet {
        margin-top: unset;
        justify-content: center;
    }
    @include mobile {
        margin-top: unset;
    }
}

.premium__title {
    margin-bottom: remy(11);

    @include mobile {
        margin-bottom: remy(11);
    }
}

.premium__desc-text {
    margin-bottom: remy(18);

    @include mobile {
        margin-bottom: remy(48);
        padding-right: remy(20);
    }
}

.premium__btn {
    display: block;
    width: remy(237);

    @include mobile {
        margin: 0 auto;
        border: 2px solid var(--premium-pink);
        border-radius: remy(38);
        width: 100%;
        max-width: remy(287);
        height: remy(60);
    }
}

.premium__img {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    &-top {
        position: relative;
        z-index: 2;
    }

    &-bottom {
        padding-left: 150px;
        margin-top: -142px;

        
    }
}