.premium {
    padding-block: remy(224) remy(108);

    @include mobile {
        padding-block: remy(35) remy(23);
    }
}

.premium-content {
    display: flex;
    justify-content: space-between;
    gap: 16px 30px;

    @include mobile {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.premium__desc {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-top: 102px;
    // justify-content: center;
    max-width: remy(489);

    @include tablet {
        margin-top: unset;
        justify-content: center;
        flex-shrink: 1;
    }
    @include mobile {
        max-width: remy(540);

    }
}

.premium__title {
    margin-bottom: remy(11);

    @include mobile {
        margin-bottom: remy(11);
    }
}

.premium__desc-text {
    margin-bottom: remy(18);

    @include mobile {
        margin-bottom: remy(48);
        padding-right: remy(20);
    }
    @include mobileS {
        margin-bottom: remy(39);
        // padding-right: remy(20);
    }
}

.premium__btn {
    display: block;
    width: remy(237);

    @include mobile {
        margin: 0 auto;
        border: 2px solid var(--premium-pink);
        border-radius: remy(38);
        width: 100%;
        max-width: remy(287);
        height: remy(60);
    }
}

.premium__img {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 572px;
    aspect-ratio: 572 / 435;

    @include laptopL {
        width: 458px;
        &-top {width: 355px;}
    }
    @include mobileM {
        width: 275px;
        height: 198px;
    }

    & img {
        z-index: 2;
    }

    &-top {
        position: relative;
        aspect-ratio: 3 / 2;
        width: 444px;
        @include laptopL {width: 355px;}
        @include mobileM {
            width: 202px;
            height: 135px;
        }
    }

    &-bottom {
        margin-left: 150px;
        margin-top: -142px;
        width: 422px;
        @include laptopL {
            width: 338px;
            margin-left: 120px;
        }
        @include mobileM {
            width: 191px;
            height: 128px;
            margin-left: 84px;
            margin-top: -63px;
        }
    }
}