.result {
    padding-block: remy(94) remy(122);

    @include mobile {
        padding-block: remy(35) remy(23);
    }
}

.result-content {
    display: flex;
    justify-content: space-between;
    gap: 14px 30px;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }
}

.result__img {
    flex-shrink: 0;
    width: 450px;
    // height: 503px;
    aspect-ratio: 9 / 10;

    position: relative;

    &-top, &-bottom {
        object-fit: cover;
        object-position: center;
    }

    &-top img, &-bottom img {
        width: 100%;
        height: 100%;
    }

    &-top {
        width: 347px;
        aspect-ratio: 7 / 8;
        @include mobileM {
            
            width: 80%;
            // width: 280px;
            // height: 248px;
        }
        @include mobileS {
            width: 176px;
            height: 248px;
            object-position: 5px center;
        }
    }

    &-bottom {
        position: absolute;
        right: 0px;
        bottom: 0;
        width: 241px;
        // aspect-ratio: 2 / 3;
        aspect-ratio: 241 / 359;
        @include mobileM {
            width: 50%;
            // width: 192.8px;
        }   
        @include mobileS {
            width: 146px;
            height: 218px;
        }   
    }

    @include mobileM {
        // align-self: start;
        width: 80%;
        // width: 360px;
        // height: 313px  ;
    }
    @include mobileS {
        width: 262px;
        height: 313px;
    }
}

.result__desc {
    // margin-top: 103px;
    // vertical-align: middle;
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: remy(108);
    // justify-content: center;
    max-width: remy(540);

    @include tablet {
        margin-top: unset;
        justify-content: center;
    }
    @include mobile {
        margin-top: unset;
    }


}

.result__title {
    margin-bottom: remy(12);

    @include mobile {
        margin-bottom: remy(11);
    }
}

.result__desc-text {
    margin-bottom: remy(24);

    @include mobile {
        margin-bottom: remy(48);
        padding-right: remy(20);
    }
}

.result__btn {
    display: block;
    width: remy(237);

    @include mobile {
        
        margin: 0 auto;
        border: 2px solid var(--premium-pink);
        border-radius: remy(38);
        width: 100%;
        max-width: remy(287);
        height: remy(60);
    }
}