<!-- <div class="swiper-slide"> -->
    <div class="card card-slider swiper-slide">
        <div class="card__title">@@titleKg lost!</div>
        <div class="card__text">@@text</div>
        <div class="card__user">
            <div class="card__user-img"><img src="./img/stories/@@img" alt="Avatar"></div>
            <div class="card__user-desc">
                <div class="card__user-name">@@name</div>
                <div class="card__user-status">@@status</div>
            </div>
        </div>
        <!-- <div class="card__title">3Kg lost!</div>
        <div class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in molestie sed, gravida nec felis. Sed id egestasegestas risu.</div>
        <div class="card__user">
            <div class="card__user-img"><img src="./img/stories/james-john.png" alt="Avatar"></div>
            <div class="card__user-desc">
                <div class="card__user-name">James John</div>
                <div class="card__user-status">Father of one</div>
            </div>
        </div> -->

    </div>
<!-- </div> -->
